/* Reset and base styles  */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  /* sticky footer */
  scroll-behavior: smooth;
}

body {
  height: 100%;
  /* sticky footer */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* sticky footer */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* sticky footer */
  margin: 0;
  font-family: "ReformaGroteskMediumC", sans-serif;
  color: #141414;
}

body > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  /* sticky footer */
}

input,
textarea,
button {
  font-family: inherit;
  padding: 0;
  border: none;
}

label {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

/* Grid styles */
.container {
  width: 1430px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Utility */
.none {
  display: none !important;
}

/* Sticky Footer */
.footer {
  margin-top: auto;
  /* sticky footer */
  /* Just for fun */
  text-align: center;
  padding: 50px 0;
}

.header {
  margin: 0 auto;
  width: 100%;
  height: 1024px;
  position: relative;
  z-index: 99;
  background-image: url(./../img/header/header-banner-desktop.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header__services {
  margin: 0 auto;
  width: 100%;
  height: 1024px;
  position: relative;
  z-index: 99;
  background-image: url(./../img/header/header-services.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header__nav {
  margin-top: 40px;
  margin-left: 200px;
}

.header:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.51)), to(rgba(255, 255, 255, 0.51)));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.51), rgba(255, 255, 255, 0.51));
}

.header__title {
  margin-top: 140px;
}

.header__description {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
}

.header__description-services {
  margin-bottom: 240px;
}

.header__button {
  text-align: center;
  max-width: 170px;
  margin: 0 auto;
  margin-top: 88px;
  margin-bottom: 100px;
}

.header__info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__item {
  border-top: 1px solid #141414;
  border-bottom: 1px solid #141414;
  padding-top: 42px;
  padding-bottom: 45px;
}

.header__item:nth-child(1) {
  border-left: 1px solid #141414;
  border-right: 1px solid #141414;
}

.header__item:nth-child(2) {
  border-right: 1px solid #141414;
}

.header__item:nth-child(2) {
  border-right: 1px solid #141414;
}

.header__item-name {
  display: block;
  margin-bottom: 20px;
  font-family: "ReformaGroteskDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.header__item-description {
  display: block;
  text-decoration: none;
  font-family: "ReformaGroteskDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #db3138;
  margin-bottom: 15px;
}

.header__item-description:last-child {
  margin-bottom: 0;
}

.nav__list {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 1.2;
  letter-spacing: 0.48px;
  color: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
.nav__list a {
  text-decoration: none;
  color: #141414;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
.nav__list a:hover {
  color: #db3138;
}

.about {
  padding-top: 40px;
  margin-top: 40px;
}

.about__title {
  text-align: center;
}

.about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 134px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-bottom: 40px;
}

.about__item-text {
  font-family: "ReformaGroteskMediumC";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.48px;
  max-width: 526px;
}

.more {
  margin-top: 40px;
  padding-top: 40px;
}

.more__title {
  margin-bottom: 35px;
}

.more__wrapper {
  padding: 60px 60px;
  border: 1px solid #898989;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.more__img {
  width: 700px;
  height: 700px;
}

.more__description {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
}

.more__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "ReformaGroteskMediumC";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.8px;
  margin-bottom: 20px;
}

.more__list-item:last-child {
  margin-bottom: 0;
}

.more__list-item:before {
  content: "";
  width: 15px;
  height: 15px;
  display: block;
  background-image: url(./../img/more/more-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.more__list {
  margin-bottom: 50px;
}

.feedback {
  padding-top: 40px;
  margin-top: 40px;
}

.footer {
  border-top: 1px solid #898989;
  margin-top: 80px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services {
  margin-top: 80px;
}

.services__title {
  text-align: center;
  margin-bottom: 50px;
}

.services__description {
  max-width: 526px;
  margin: 0 auto;
  text-align: center;
  font-family: "ReformaGroteskMediumC";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.8px;
  margin-bottom: 50px;
}

.tabs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  row-gap: 20px;
  font-family: "ReformaGroteskBoldC";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.8px;
  margin-bottom: 70px;
}

.tabs__item {
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.tabs__item_active {
  color: #db3138;
}

.tabs__item:hover {
  color: #db3138;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
.title {
  font-family: "ReformaGroteskBoldC";
  font-style: normal;
  font-weight: 700;
  font-size: 150px;
  line-height: 1.25;
  color: #db3138;
  text-align: center;
  text-transform: uppercase;
}

.title--white {
  color: #fff;
}

.title-h2 {
  font-family: "ReformaGroteskDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.title-h3 {
  font-family: "ReformaGroteskDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.4;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #db3138;
}

.title-h4 {
  font-family: "ReformaGroteskDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.page-decoration {
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 60px;
  background: #db3138;
  font-family: "ReformaGroteskDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  color: #141414;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.button:hover {
  background: #ff0008;
}

.form {
  margin: 0 auto;
  width: 800px;
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 20px rgba(211, 211, 211, 0.25);
          box-shadow: 0px 10px 20px rgba(211, 211, 211, 0.25);
  padding: 40px;
}

.form-group {
  margin-bottom: 30px;
}

.form-group:last-of-type {
  margin-bottom: 35px;
}

.form-group-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
}

.form__input {
  padding-left: 25px;
  padding-right: 25px;
  height: 50px;
  font-family: "ReformaGroteskDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #141414;
  background: #ffffff;
  border: 1px solid #898989;
  width: 100%;
}

.form__input:focus {
  outline-color: #db3138;
}

.form__input::-webkit-input-placeholder {
  color: #898989;
}

.form__input:-ms-input-placeholder {
  color: #898989;
}

.form__input::-ms-input-placeholder {
  color: #898989;
}

.form__input::placeholder {
  color: #898989;
}

.form__textarea {
  padding: 15px 25px;
  width: 625px;
  height: 185px;
  font-family: "ReformaGroteskDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #141414;
  background: #ffffff;
  border: 1px solid #898989;
  resize: none;
}

.form__textarea::-webkit-input-placeholder {
  color: #898989;
}

.form__textarea:-ms-input-placeholder {
  color: #898989;
}

.form__textarea::-ms-input-placeholder {
  color: #898989;
}

.form__textarea::placeholder {
  color: #898989;
}

.form__textarea:focus {
  outline-color: #db3138;
}

.form-group-row {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.form__extrainfo {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: self-end;
      -ms-flex-align: self-end;
          align-items: self-end;
  gap: 20px;
}

.form__extrainfo,
.form__location {
  font-family: "ReformaGroteskDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.form__location::before {
  display: block;
  content: "";
  background-image: url(./../img/extrainfo/location.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 17px;
  height: 21px;
}

.form__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.form__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #141414;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.form__email:hover {
  color: #db3138;
}

.form__email::before {
  display: block;
  content: "";
  background-image: url(./../img/extrainfo/email.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 21px;
  height: 17px;
}

.form__button {
  margin-top: 25px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.socials__link {
  display: block;
  border: 1px solid #898989;
  padding: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.socials__link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.socials__img {
  width: 40px;
  height: 40px;
}

/* Tablet */
@media (max-width: 1199px) {
  .container {
    max-width: 900px;
  }
}
/* Mobile */
@media (max-width: 899px) {
  .container {
    max-width: 600px;
  }
}
/* Mobile XS */
@media (max-width: 599px) {
  .container {
    max-width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */