/* Reset and base styles  */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  /* sticky footer */
  scroll-behavior: smooth;
}

body {
  height: 100%;
  /* sticky footer */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* sticky footer */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* sticky footer */
  margin: 0;
  font-family: "ReformaGroteskMediumC", sans-serif;
}
body._locked {
  overflow: hidden;
}

body > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  /* sticky footer */
}

input,
textarea,
button {
  font-family: inherit;
  padding: 0;
  border: none;
}

label {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

/* Grid styles */
.container {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 1300px) {
  .container {
    max-width: 930px;
    margin: 0 auto;
  }
}
@media (max-width: 930px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
  }
}

/* Utility */
.none {
  display: none !important;
}

/* Sticky Footer */
.footer {
  margin-top: auto;
  /* sticky footer */
  /* Just for fun */
  text-align: center;
  padding: 50px 0;
}

@font-face {
  font-family: "ReformaGroteskMediumC";
  src: url("../fonts/ReformaGroteskMediumC.eot");
  src: url("../fonts/ReformaGroteskMediumC.eot?#iefix") format("embedded-opentype"), url("../fonts/ReformaGroteskMediumC.woff") format("woff"), url("../fonts/ReformaGroteskMediumC.woff2") format("woff2"), url("../fonts/ReformaGroteskMediumC (1).otf"), url("../fonts/ReformaGroteskMediumC.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "ReformaGroteskDemiC";
  src: url("../fonts/ReformaGroteskDemiC.eot");
  src: url("../fonts/ReformaGroteskDemiC.eot?#iefix") format("embedded-opentype"), url("../fonts/ReformaGroteskDemiC.woff") format("woff"), url("../fonts/ReformaGroteskDemiC.woff2") format("woff2"), url("../fonts/ReformaGroteskDemiC.otf (2)"), url("../fonts/ReformaGroteskDemiC.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "ReformaGroteskBoldC";
  src: url("../fonts/ReformaGroteskBoldC.eot");
  src: url("../fonts/ReformaGroteskBoldC.eot?#iefix") format("embedded-opentype"), url("../fonts/ReformaGroteskBoldC.woff") format("woff"), url("../fonts/ReformaGroteskBoldC.woff2") format("woff2"), url("../fonts/ReformaGroteskBoldC (1).otf"), url("../fonts/ReformaGroteskBoldC.ttf") format("truetype");
  font-weight: 700;
}
.header {
  margin: 0 auto;
  width: 100%;
  height: 1028px;
  position: relative;
  z-index: 99;
  background-image: url(./../img/header/header-banner-desktop.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 1024px) {
  .header {
    background-image: url(./../img/header/home/header-1024.jpg);
    height: auto;
  }
}
@media (max-width: 700px) {
  .header {
    background-image: url(./../img/header/home/header-768.jpg);
    height: auto;
  }
}

.header__services {
  margin: 0 auto;
  width: 100%;
  height: 1019px;
  position: relative;
  z-index: 99;
  background-image: url(./../img/header/header-services.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 1024px) {
  .header__services {
    background-image: url(./../img/header/services-page/header-1024.jpg);
    height: auto;
  }
}
@media (max-width: 700px) {
  .header__services {
    background-image: url(./../img/header/services-page/header-768.jpg);
    height: auto;
  }
}

.header__additional {
  margin: 0 auto;
  width: 100%;
  height: 1019px;
  position: relative;
  z-index: 99;
  background-image: url(./../img/header/header-additional-services.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 1024px) {
  .header__additional {
    background-image: url(./../img/header/additional/header-1024.jpg);
    height: auto;
  }
}
@media (max-width: 700px) {
  .header__additional {
    background-image: url(./../img/header/additional/header-768.jpg);
    height: auto;
  }
}

.header__gallery {
  margin: 0 auto;
  width: 100%;
  height: 1019px;
  position: relative;
  z-index: 99;
  background-image: url(./../img/header/header-gallery.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 1024px) {
  .header__gallery {
    background-image: url(./../img/header/gallery/header-1024.jpg);
    height: auto;
  }
}
@media (max-width: 700px) {
  .header__gallery {
    background-image: url(./../img/header/gallery/header-768.jpg);
    height: auto;
  }
}

.header__nav {
  margin: 40px;
}
@media (max-width: 930px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

.header:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(20, 20, 20, 0.8)), to(rgba(20, 20, 20, 0.8)));
  background: linear-gradient(0deg, rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.8));
}

.header__title {
  margin-top: 140px;
}
@media (max-width: 700px) {
  .header__title {
    margin-top: 50px;
  }
}

.header__description {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
}
@media (max-width: 1024px) {
  .header__description {
    font-size: 35px;
  }
}
@media (max-width: 930px) {
  .header__description {
    font-size: 28px;
  }
}
@media (max-width: 400px) {
  .header__description {
    font-size: 25px;
  }
}
@media (max-width: 400px) {
  .header__description {
    font-size: 20px;
  }
}

.header__description-services {
  margin-bottom: 240px;
}
@media (max-width: 1024px) {
  .header__description-services {
    margin-bottom: 100px;
  }
}

.header__button {
  text-align: center;
  max-width: 170px;
  margin: 0 auto;
  margin-top: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 700px) {
  .header__button {
    margin-top: 50px;
  }
}

.header__info {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__item {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding-top: 42px;
  padding-bottom: 45px;
}
@media (max-width: 930px) {
  .header__item {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (max-width: 700px) {
  .header__item {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.header__item:nth-child(1) {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.header__item:nth-child(2) {
  border-right: 1px solid #fff;
}

.header__item:nth-child(2) {
  border-right: 1px solid #fff;
}

.header__item-name {
  display: block;
  margin-bottom: 20px;
  font-family: "ReformaGroteskDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 700px) {
  .header__item-name {
    font-size: 16px;
  }
}
@media (max-width: 540px) {
  .header__item-name {
    font-size: 11px;
    margin-bottom: 5px;
  }
}

.header__item-description {
  display: block;
  text-decoration: none;
  font-family: "ReformaGroteskDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #db3138;
  margin-bottom: 15px;
}
@media (max-width: 1024px) {
  .header__item-description {
    font-size: 20px;
  }
}
@media (max-width: 930px) {
  .header__item-description {
    font-size: 18px;
    margin-bottom: 5px;
  }
}
@media (max-width: 700px) {
  .header__item-description {
    font-size: 16px;
  }
}
@media (max-width: 540px) {
  .header__item-description {
    font-size: 10px;
  }
}

.header__item-description:last-child {
  margin-bottom: 0;
}

.nav__list {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 1.2;
  letter-spacing: 0.48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
@media (max-width: 1024px) {
  .nav__list {
    font-size: 30px;
    gap: 35px;
  }
}
@media (max-width: 930px) {
  .nav__list {
    display: none;
  }
}
.nav__list a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
.nav__list a:hover {
  color: #db3138;
}

.nav__list_black a {
  color: #141414;
}

.nav__icon {
  display: none;
}
@media (max-width: 930px) {
  .nav__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90px;
    height: 50px;
    z-index: 999;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
}

.nav__icon__middle {
  position: relative;
  width: 40px;
  height: 3px;
  background-color: #db3138;
}
@media (max-width: 540px) {
  .nav__icon__middle {
    width: 24px;
    height: 2px;
  }
}
.nav__icon__middle::before, .nav__icon__middle::after {
  content: "";
  position: absolute;
  left: 12px;
  width: 40px;
  height: 3px;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  background-color: #db3138;
}
@media (max-width: 540px) {
  .nav__icon__middle::before, .nav__icon__middle::after {
    width: 24px;
    height: 2px;
  }
}
.nav__icon__middle::before {
  top: -13px;
}
@media (max-width: 540px) {
  .nav__icon__middle::before {
    top: -9px;
  }
}
.nav__icon__middle::after {
  top: 14px;
}
@media (max-width: 540px) {
  .nav__icon__middle::after {
    top: 10px;
  }
}

/* Active state */
.nav__icon.nav__icon--active .nav__icon__middle {
  background-color: transparent;
}
.nav__icon.nav__icon--active .nav__icon__middle::before, .nav__icon.nav__icon--active .nav__icon__middle::after {
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
  background-color: #db3138;
}
.nav__icon.nav__icon--active .nav__icon__middle::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.nav__icon.nav__icon--active .nav__icon__middle::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav__mobile-bg {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100%;
  z-index: 9;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.nav__mobile-bg.show {
  opacity: 1;
  pointer-events: all;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.nav__mobile {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  width: 500px;
  height: 100vh;
  background-color: #FFF;
  opacity: 0;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  padding: 30px 15px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
@media (max-width: 540px) {
  .nav__mobile {
    width: 100%;
    top: -100%;
    left: 0;
    width: 100%;
    -webkit-transform: none;
            transform: none;
  }
}

.nav__mobile.active {
  opacity: 1;
  top: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

.nav__mobile-list {
  margin: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 1.2;
  letter-spacing: 0.48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
@media (max-width: 540px) {
  .nav__mobile-list {
    font-size: 30px;
  }
}

.nav__mobile-list a {
  color: #141414;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav__mobile-list a:hover {
  color: #db3138;
}

.about {
  padding-top: 40px;
  margin-top: 40px;
}
@media (max-width: 700px) {
  .about {
    padding-top: 20px;
    margin-top: 20px;
  }
}

.about__title {
  text-align: center;
}

.about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1300px) {
  .about__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about__item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}

.about__item-text {
  font-family: "ReformaGroteskMediumC";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.48px;
  max-width: 700px;
  text-align: justify;
}
@media (max-width: 930px) {
  .about__item-text {
    font-size: 28px;
  }
}
@media (max-width: 700px) {
  .about__item-text {
    font-size: 23px;
  }
}
@media (max-width: 540px) {
  .about__item-text {
    font-size: 18px;
  }
}
@media (max-width: 400px) {
  .about__item-text {
    font-size: 14px;
  }
}

.about__photo img {
  max-width: 500px;
}
@media (max-width: 540px) {
  .about__photo img {
    max-width: 400px;
  }
}
@media (max-width: 400px) {
  .about__photo img {
    max-width: 300px;
  }
}

.more {
  margin-top: 40px;
  padding-top: 40px;
}
@media (max-width: 700px) {
  .more {
    padding-top: 20px;
    margin-top: 20px;
  }
}

.more__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.more__link {
  text-decoration: none;
  color: #db3138;
  border: #141414;
  cursor: pointer;
  position: relative;
}

.more__link-text span {
  color: #fff;
}

.more__link:hover .more__link-image img {
  -webkit-filter: blur(1px);
          filter: blur(1px);
  opacity: 0.3;
  background-color: #141414;
}

.more__link-image {
  position: relative;
  width: 400px;
  background: #141414;
}
@media (max-width: 930px) {
  .more__link-image {
    width: 300px;
  }
}
@media (max-width: 700px) {
  .more__link-image {
    width: 200px;
  }
}
@media (max-width: 400px) {
  .more__link-image {
    width: 150px;
  }
}

.more__link-image img {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  border: #141414;
}

.more__link-text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
}

.more__link:hover .more__button {
  opacity: 1;
}

.more__link-text {
  font-family: "ReformaGroteskDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #db3138;
}
@media (max-width: 930px) {
  .more__link-text {
    font-size: 30px;
  }
}
@media (max-width: 700px) {
  .more__link-text {
    font-size: 25px;
  }
}
@media (max-width: 540px) {
  .more__link-text {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .more__link-text {
    font-size: 14px;
  }
}

.feedback {
  padding-top: 40px;
  margin-top: 40px;
}
@media (max-width: 700px) {
  .feedback {
    padding-top: 20px;
    margin-top: 20px;
  }
}

.footer {
  border-top: 1px solid #898989;
  margin-top: 80px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 700px) {
  .footer__nav-list {
    font-size: 25px;
  }
}
@media (max-width: 540px) {
  .footer__nav-list {
    font-size: 20px;
    gap: 20px;
  }
}

.footer__link {
  color: #141414;
}

.services {
  margin-top: 40px;
  padding-top: 40px;
}
@media (max-width: 700px) {
  .services {
    padding-top: 20px;
    margin-top: 20px;
  }
}

.services__content {
  border: 1px solid #141414;
  padding: 40px 60px;
}
@media (max-width: 540px) {
  .services__content {
    padding: 20px;
  }
}

.services__title {
  text-align: center;
  margin-bottom: 50px;
}
@media (max-width: 700px) {
  .services__title {
    margin-bottom: 25px;
  }
}

.services__description {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  font-family: "ReformaGroteskMediumC";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.8px;
  margin-bottom: 50px;
}
.services__description_red {
  color: #db3138;
  text-align: left;
}
@media (max-width: 930px) {
  .services__description {
    font-size: 23px;
    width: 100%;
  }
}
@media (max-width: 700px) {
  .services__description {
    font-size: 20px;
  }
}
@media (max-width: 540px) {
  .services__description {
    font-size: 17px;
    margin-bottom: 30px;
  }
}
@media (max-width: 400px) {
  .services__description {
    font-size: 13px;
    margin-bottom: 20px;
  }
}

.servises__prices-description {
  font-family: "ReformaGroteskDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.servises__prices-description_red {
  color: #db3138;
}
@media (max-width: 930px) {
  .servises__prices-description {
    font-size: 20px;
  }
}
@media (max-width: 540px) {
  .servises__prices-description {
    font-size: 14px;
  }
}

.services__list {
  text-align: left;
}

.services__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.services__list li::before {
  content: '';
  background-image: url(./../img/services/dot.svg);
  width: 15px;
  height: 15px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 540px) {
  .services__list li::before {
    width: 10px;
    height: 10px;
  }
}
@media (max-width: 400px) {
  .services__list li::before {
    width: 6px;
    height: 6px;
  }
}

.services__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
@media (max-width: 540px) {
  .services__prices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 400px) {
  .services__prices {
    gap: 10px;
  }
}
@media (max-width: 540px) {
  .services__prices_add {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.servises__prices-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servises__prices-item img {
  width: 90px;
  height: 90px;
}
@media (max-width: 700px) {
  .servises__prices-item img {
    width: 68px;
  }
}

.tabs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  row-gap: 20px;
  font-family: "ReformaGroteskBoldC";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.8px;
  margin-bottom: 70px;
}
@media (max-width: 930px) {
  .tabs__list {
    font-size: 30px;
  }
}
@media (max-width: 700px) {
  .tabs__list {
    font-size: 25px;
  }
}
@media (max-width: 540px) {
  .tabs__list {
    font-size: 20px;
    gap: 25px;
    margin-bottom: 40px;
  }
}
@media (max-width: 400px) {
  .tabs__list {
    font-size: 18px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.tabs__item {
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.tabs__item_active {
  color: #db3138;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.tabs__item:hover {
  color: #db3138;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
.works {
  margin-top: 40px;
  padding-top: 40px;
}
@media (max-width: 700px) {
  .works {
    padding-top: 20px;
    margin-top: 20px;
  }
}

.title {
  font-family: "ReformaGroteskBoldC";
  font-style: normal;
  font-weight: 700;
  font-size: 150px;
  line-height: 1.25;
  color: #db3138;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .title {
    font-size: 100px;
  }
}
@media (max-width: 700px) {
  .title {
    font-size: 85px;
  }
}
@media (max-width: 540px) {
  .title {
    font-size: 65px;
  }
}
@media (max-width: 400px) {
  .title {
    font-size: 50px;
  }
}

.title--white {
  color: #fff;
}

.title-h2 {
  font-family: "ReformaGroteskDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
@media (max-width: 930px) {
  .title-h2 {
    font-size: 45px;
  }
}
@media (max-width: 700px) {
  .title-h2 {
    font-size: 40px;
  }
}
@media (max-width: 540px) {
  .title-h2 {
    font-size: 35px;
  }
}
@media (max-width: 400px) {
  .title-h2 {
    font-size: 30px;
  }
}

.title-h3 {
  font-family: "ReformaGroteskDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.4;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #db3138;
}
@media (max-width: 700px) {
  .title-h3 {
    font-size: 25px;
  }
}
@media (max-width: 540px) {
  .title-h3 {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .title-h3 {
    font-size: 14px;
  }
}

.title-h4 {
  font-family: "ReformaGroteskDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.title-h4_red {
  color: #db3138;
}
@media (max-width: 930px) {
  .title-h4 {
    font-size: 26px;
  }
}
@media (max-width: 700px) {
  .title-h4 {
    font-size: 25px;
  }
}
@media (max-width: 540px) {
  .title-h4 {
    font-size: 18px;
  }
}
@media (max-width: 400px) {
  .title-h4 {
    font-size: 14px;
  }
}

.page-decoration {
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
@media (max-width: 930px) {
  .page-decoration {
    margin-top: 20px;
  }
}
@media (max-width: 700px) {
  .page-decoration {
    margin-bottom: 20px;
  }
}

@media (max-width: 540px) {
  .page-decoration svg {
    width: 100px;
  }
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 60px;
  background: #db3138;
  font-family: "ReformaGroteskDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  color: #141414;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.button:hover {
  background: #ff0008;
}
@media (max-width: 930px) {
  .button {
    font-size: 20px;
    width: 140px;
    height: 50px;
  }
}
@media (max-width: 540px) {
  .button {
    font-size: 15px;
    width: 111px;
    height: 35px;
  }
}

.form {
  margin: 0 auto;
  max-width: 800px;
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 20px rgba(211, 211, 211, 0.25);
          box-shadow: 0px 10px 20px rgba(211, 211, 211, 0.25);
  padding: 40px;
}
@media (max-width: 540px) {
  .form {
    padding: 30px;
  }
}

.form-group-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
}

.form__input {
  padding-left: 25px;
  padding-right: 25px;
  height: 50px;
  font-family: "ReformaGroteskDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #141414;
  background: #ffffff;
  border: 1px solid #898989;
  width: 100%;
}
@media (max-width: 540px) {
  .form__input {
    font-size: 14px;
    height: 40px;
  }
}
@media (max-width: 400px) {
  .form__input {
    padding-left: 13px;
    padding-right: 13px;
    font-size: 12px;
    height: 40px;
  }
}

.form__input:focus {
  outline: none;
  border: 1px solid #db3138;
}

.form__input::-webkit-input-placeholder {
  color: #898989;
}

.form__input:-ms-input-placeholder {
  color: #898989;
}

.form__input::-ms-input-placeholder {
  color: #898989;
}

.form__input::placeholder {
  color: #898989;
}

.error {
  margin-top: 10px;
  color: #db3138;
  font-size: 16px;
  font-family: sans-serif;
}

.form__textarea {
  padding: 15px 25px;
  width: 100%;
  height: 185px;
  font-family: "ReformaGroteskDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #141414;
  background: none;
  border: 1px solid #898989;
  resize: none;
}
@media (max-width: 540px) {
  .form__textarea {
    font-size: 14px;
    height: 141px;
  }
}
@media (max-width: 400px) {
  .form__textarea {
    font-size: 12px;
    padding: 13px;
  }
}

.form__textarea::-webkit-input-placeholder {
  color: #898989;
}

.form__textarea:-ms-input-placeholder {
  color: #898989;
}

.form__textarea::-ms-input-placeholder {
  color: #898989;
}

.form__textarea::placeholder {
  color: #898989;
}

.form__textarea:focus {
  outline: none;
  border: 1px solid #db3138;
}

.form-group-row {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

@media (max-width: 700px) {
  .form-group-row:nth-child(1) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form-group-row:last-child {
  margin-bottom: 0;
}

.form-group-row__input {
  width: 100%;
}

.form__extrainfo {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: self-end;
      -ms-flex-align: self-end;
          align-items: self-end;
  gap: 20px;
}
@media (max-width: 400px) {
  .form__extrainfo {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.form__extrainfo,
.form__location {
  font-family: "ReformaGroteskDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
@media (max-width: 700px) {
  .form__extrainfo,
  .form__location {
    font-size: 15px;
    gap: 10px;
  }
}
@media (max-width: 540px) {
  .form__extrainfo,
  .form__location {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .form__extrainfo,
  .form__location {
    font-size: 11px;
  }
}

.form__location::before {
  display: block;
  content: "";
  background-image: url(./../img/extrainfo/location.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 17px;
  height: 21px;
}
@media (max-width: 540px) {
  .form__location::before {
    width: 13px;
    height: 16px;
  }
}

.form__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.form__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #141414;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.form__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #141414;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.form__email:hover,
.form__tel:hover {
  color: #db3138;
}

.form__email::before {
  display: block;
  content: "";
  background-image: url(./../img/extrainfo/email.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 21px;
  height: 17px;
}
@media (max-width: 540px) {
  .form__email::before {
    width: 13px;
    height: 10px;
  }
}

.form__tel::before {
  display: block;
  content: "";
  background-image: url(./../img/extrainfo/tel.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 21px;
  height: 21px;
}
@media (max-width: 540px) {
  .form__tel::before {
    width: 13px;
    height: 13px;
  }
}
@media (max-width: 400px) {
  .form__tel::before {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.form__button {
  margin-top: 25px;
}
@media (max-width: 400px) {
  .form__button {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.form__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

@media (max-width: 540px) {
  .form__socials img {
    width: 37px;
    height: 25px;
  }
}

@media (max-width: 400px) {
  .form-group-row:nth-child(3) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.socials__link {
  display: block;
  border: 1px solid #898989;
  padding: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.socials__link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.socials__img {
  width: 40px;
  height: 40px;
}

.preloader {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #fff;
  z-index: 9999;
}

@-webkit-keyframes ldio-0wgw6dzh29g {
  0% {
    opacity: 1;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.5, 1.5);
            transform: translateZ(0) scale(1.5, 1.5);
  }
  100% {
    opacity: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
            transform: translateZ(0) scale(1, 1);
  }
}

@keyframes ldio-0wgw6dzh29g {
  0% {
    opacity: 1;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.5, 1.5);
            transform: translateZ(0) scale(1.5, 1.5);
  }
  100% {
    opacity: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
            transform: translateZ(0) scale(1, 1);
  }
}
.ldio-0wgw6dzh29g div > div {
  position: absolute;
  width: 20.4px;
  height: 20.4px;
  border-radius: 50%;
  background: #db3138;
  -webkit-animation: ldio-0wgw6dzh29g 0.9615384615384615s linear infinite;
          animation: ldio-0wgw6dzh29g 0.9615384615384615s linear infinite;
}

.ldio-0wgw6dzh29g div:nth-child(1) > div {
  left: 159px;
  top: 92px;
  -webkit-animation-delay: -0.8413461538461539s;
          animation-delay: -0.8413461538461539s;
}

.ldio-0wgw6dzh29g > div:nth-child(1) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: 169.2px 102.2px;
          transform-origin: 169.2px 102.2px;
}

.ldio-0wgw6dzh29g div:nth-child(2) > div {
  left: 139px;
  top: 139px;
  -webkit-animation-delay: -0.7211538461538461s;
          animation-delay: -0.7211538461538461s;
}

.ldio-0wgw6dzh29g > div:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 149.2px 149.2px;
          transform-origin: 149.2px 149.2px;
}

.ldio-0wgw6dzh29g div:nth-child(3) > div {
  left: 92px;
  top: 159px;
  -webkit-animation-delay: -0.6009615384615384s;
          animation-delay: -0.6009615384615384s;
}

.ldio-0wgw6dzh29g > div:nth-child(3) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: 102.2px 169.2px;
          transform-origin: 102.2px 169.2px;
}

.ldio-0wgw6dzh29g div:nth-child(4) > div {
  left: 44px;
  top: 139px;
  -webkit-animation-delay: -0.4807692307692307s;
          animation-delay: -0.4807692307692307s;
}

.ldio-0wgw6dzh29g > div:nth-child(4) {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transform-origin: 54.2px 149.2px;
          transform-origin: 54.2px 149.2px;
}

.ldio-0wgw6dzh29g div:nth-child(5) > div {
  left: 24px;
  top: 92px;
  -webkit-animation-delay: -0.3605769230769231s;
          animation-delay: -0.3605769230769231s;
}

.ldio-0wgw6dzh29g > div:nth-child(5) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transform-origin: 34.2px 102.2px;
          transform-origin: 34.2px 102.2px;
}

.ldio-0wgw6dzh29g div:nth-child(6) > div {
  left: 44px;
  top: 44px;
  -webkit-animation-delay: -0.24038461538461536s;
          animation-delay: -0.24038461538461536s;
}

.ldio-0wgw6dzh29g > div:nth-child(6) {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transform-origin: 54.2px 54.2px;
          transform-origin: 54.2px 54.2px;
}

.ldio-0wgw6dzh29g div:nth-child(7) > div {
  left: 92px;
  top: 24px;
  -webkit-animation-delay: -0.12019230769230768s;
          animation-delay: -0.12019230769230768s;
}

.ldio-0wgw6dzh29g > div:nth-child(7) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transform-origin: 102.2px 34.2px;
          transform-origin: 102.2px 34.2px;
}

.ldio-0wgw6dzh29g div:nth-child(8) > div {
  left: 139px;
  top: 44px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.ldio-0wgw6dzh29g > div:nth-child(8) {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  -webkit-transform-origin: 149.2px 54.2px;
          transform-origin: 149.2px 54.2px;
}

.loadingio-spinner-spin-dc2kvnvvz05 {
  width: 204px;
  height: 204px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}

.ldio-0wgw6dzh29g {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateZ(0) scale(1);
          transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  /* see note above */
}

.ldio-0wgw6dzh29g div {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.popup {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  background-color: #fff;
  width: 550px;
  padding: 40px 20px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  border: 1px solid #141414;
}

.popup__header {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 35px;
}

.popup__text {
  font-family: "ReformaGroteskMediumC";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.8px;
}

.popup__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

.popup__active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.popup__close {
  position: absolute;
  top: -29px;
  right: -4px;
  cursor: pointer;
}

.popup__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 99;
}

.active {
  opacity: 1;
  pointer-events: all;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.accordion {
  max-width: 600px;
}
@media (max-width: 1024px) {
  .accordion {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .accordion {
    width: 77%;
  }
}

@media (max-width: 540px) {
  .accordion__header .accordion__icon {
    font-size: 30px;
  }
}

.accordion__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.accordion__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

@media (max-width: 700px) {
  .accordion__header img {
    width: 40px;
  }
}
@media (max-width: 540px) {
  .accordion__header img {
    width: 30px;
  }
}

.accordion__header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}
@media (max-width: 540px) {
  .accordion__header div {
    gap: 10px;
  }
}

.accordion__content {
  overflow: hidden;
  height: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.accordion__active {
  padding-bottom: 10px;
}

.accordion__icon {
  font-size: 50px;
}

.slider__wrapper {
  max-width: 600px;
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
}
@media (max-width: 930px) {
  .slider__wrapper {
    width: 500px;
    height: 500px;
  }
}
@media (max-width: 540px) {
  .slider__wrapper {
    width: 100%;
    height: 100%;
  }
}

.slider__container {
  max-width: 700px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  position: relative;
}

.slider__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.slider__line img {
  max-width: 600px;
  height: 600px;
  margin: 0 auto;
}
@media (max-width: 930px) {
  .slider__line img {
    width: 500px;
    height: 500px;
  }
}
@media (max-width: 540px) {
  .slider__line img {
    width: 100%;
    height: 100%;
  }
}

.slider__arrow {
  position: absolute;
  top: 40%;
  width: auto;
  height: auto;
  padding: 16px 10px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background: transparent;
}
@media (max-width: 700px) {
  .slider__arrow {
    display: none;
  }
}

.slider__arrow-prev {
  left: -7%;
  cursor: pointer;
}
@media (max-width: 930px) {
  .slider__arrow-prev {
    left: 2%;
  }
}

@media (max-width: 930px) {
  .slider__arrow-next img,
  .slider__arrow-prev img {
    width: 50px;
    height: 50px;
  }
}

.slider__arrow-next {
  right: -7%;
  cursor: pointer;
}
@media (max-width: 930px) {
  .slider__arrow-next {
    right: 2%;
  }
}

.slider__arrow-prev:active,
.slider__arrow-next:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.slider__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.slider__dot {
  width: 16px;
  height: 16px;
  background: rgba(219, 49, 56, 0.5);
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  border-radius: 50%;
  cursor: pointer;
}
@media (max-width: 540px) {
  .slider__dot {
    width: 12px;
    height: 12px;
  }
}
@media (max-width: 400px) {
  .slider__dot {
    width: 10px;
    height: 10px;
  }
}

.slider__dot-active {
  background: #db3138;
}

.slider__pagination {
  margin-top: 40px;
}
@media (max-width: 540px) {
  .slider__pagination {
    margin-top: 30px;
  }
}
@media (max-width: 400px) {
  .slider__pagination {
    margin-top: 20px;
  }
}

/*# sourceMappingURL=main.css.map */