.section-cta::before, .section-price::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
}

/* Reset and base styles  */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  /* sticky footer */
  scroll-behavior: smooth;
}

body {
  height: 100%;
  /* sticky footer */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* sticky footer */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* sticky footer */
  margin: 0;
  font-family: "ReformaGroteskMediumC", sans-serif;
  color: #141414;
}

body > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  /* sticky footer */
}

input,
textarea,
button {
  font-family: inherit;
  padding: 0;
}

label {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

/* Grid styles */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Utility */
.none {
  display: none !important;
}

/* Sticky Footer */
.footer {
  margin-top: auto;
  /* sticky footer */
  /* Just for fun */
  text-align: center;
  padding: 50px 0;
}

.header {
  margin: 0 auto;
  width: 100%;
  height: 1000px;
  position: relative;
  z-index: 99;
  background-image: url(./../img/header/header-banner-desktop.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.51)), to(rgba(255, 255, 255, 0.51)));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.51), rgba(255, 255, 255, 0.51));
}

.header__title {
  margin-top: 140px;
}

.header__description {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
}

.header__button {
  text-align: center;
  max-width: 170px;
  margin: 0 auto;
  margin-top: 88px;
  margin-bottom: 100px;
}

.header__info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__item {
  border-top: 1px solid #141414;
  border-bottom: 1px solid #141414;
  padding-top: 42px;
  padding-bottom: 45px;
}

.header__item:nth-child(1) {
  border-left: 1px solid #141414;
  border-right: 1px solid #141414;
}

.header__item:nth-child(2) {
  border-right: 1px solid #141414;
}

.header__item:nth-child(2) {
  border-right: 1px solid #141414;
}

.header__item-name {
  display: block;
  margin-bottom: 20px;
  font-family: "ReformaGroteskDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.header__item-description {
  display: block;
  text-decoration: none;
  font-family: "ReformaGroteskDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #db3138;
  margin-bottom: 15px;
}

.header__item-description:last-child {
  margin-bottom: 0;
}

.section-functional {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  /*Tablet media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-functional {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 599px) {
  .section-functional {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-functional__header {
  margin-bottom: 70px;
  /*Tablet media */
  /*Mobile media */
}
@media (max-width: 1199px) {
  .section-functional__header {
    margin-bottom: 60px;
  }
}
@media (max-width: 899px) {
  .section-functional__header {
    margin-bottom: 40px;
  }
}

.section-functional__title {
  margin-bottom: 40px;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-functional__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 899px) {
  .section-functional__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-functional__title {
    margin-bottom: 10px;
  }
}

.section-functional__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*Mobile XS media */
}
@media (max-width: 599px) {
  .section-functional__row {
    gap: 40px;
  }
}

.section-cta {
  position: relative;
  padding-top: 83px;
  padding-bottom: 84px;
  background-image: url("./../img/section-cta/section-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-cta {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url("./../img/section-cta/tablet-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media (max-width: 899px) {
  .section-cta {
    background-image: url("./../img/section-cta/mobile-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media (max-width: 599px) {
  .section-cta {
    background-image: url("./../img/section-cta/xs-mobile-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.section-cta__content {
  position: relative;
  z-index: 9;
  color: #FFFFFF;
  text-align: center;
}

.section-cta__title {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1;
  /* Mobile media */
  /*Mobile XS media */
}
.section-cta__title span {
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 899px) {
  .section-cta__title {
    margin-bottom: 30px;
    font-size: 20px;
  }
}
@media (max-width: 599px) {
  .section-cta__title {
    margin-bottom: 20px;
    font-size: 18px;
  }
}

.section-tasks {
  padding-top: 80px;
  padding-bottom: 40px;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-tasks {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
@media (max-width: 899px) {
  .section-tasks {
    padding-bottom: 10px;
  }
}
@media (max-width: 599px) {
  .section-tasks {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-tasks__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 100px;
  padding-right: 114px;
  border-bottom: 1px solid #E1E1E1;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-tasks__row {
    padding-left: 75px;
    padding-right: 0;
  }
}
@media (max-width: 899px) {
  .section-tasks__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding-left: 0;
  }
}
@media (max-width: 599px) {
  .section-tasks__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.section-tasks__row > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.section-tasks__content {
  width: 570px;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-tasks__content {
    width: 495px;
  }
}
@media (max-width: 899px) {
  .section-tasks__content {
    width: 270px;
  }
}
@media (max-width: 599px) {
  .section-tasks__content {
    text-align: center;
  }
}

.section-tasks__header {
  margin-bottom: 30px;
  /*Tablet media */
}
@media (max-width: 1199px) {
  .section-tasks__header {
    margin-bottom: 20px;
  }
}

.section-tasks__title {
  margin-bottom: 30px;
  /*Tablet media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-tasks__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-tasks__title {
    margin-bottom: 10px;
  }
}

.section-tasks__subtitle {
  margin-bottom: 30px;
}

.section-tasks__text {
  width: 400px;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  /*Tablet media */
  /*Mobile media */
}
.section-tasks__text p {
  margin-bottom: 14px;
}
@media (max-width: 1199px) {
  .section-tasks__text {
    width: unset;
    max-width: 420px;
  }
}
@media (max-width: 899px) {
  .section-tasks__text {
    line-height: 1.7;
  }
}

.section-tasks__image {
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-tasks__image {
    width: 265px;
  }
}
@media (max-width: 899px) {
  .section-tasks__image {
    width: 270px;
  }
}
@media (max-width: 599px) {
  .section-tasks__image {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .section-tasks__image img {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
  }
}

.section-focus {
  padding-top: 80px;
  padding-bottom: 40px;
  overflow-x: hidden;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-focus {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
@media (max-width: 899px) {
  .section-focus {
    padding-bottom: 0;
  }
}
@media (max-width: 599px) {
  .section-focus {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-focus__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 899px) {
  .section-focus__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
@media (max-width: 599px) {
  .section-focus__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-focus__row > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.section-focus__image {
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-focus__image {
    width: 420px;
  }
}
@media (max-width: 899px) {
  .section-focus__image {
    width: 170px;
  }
  .section-focus__image img {
    max-width: unset;
    width: 415px;
    height: auto;
  }
}
@media (max-width: 599px) {
  .section-focus__image {
    width: 100%;
  }
  .section-focus__image img {
    max-width: 100%;
    margin: 0 auto;
  }
}

.section-focus__content {
  width: 470px;
  padding-top: 28px;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-focus__content {
    width: 420px;
    padding-top: 12px;
  }
}
@media (max-width: 899px) {
  .section-focus__content {
    width: 370px;
  }
}
@media (max-width: 599px) {
  .section-focus__content {
    text-align: center;
    width: 100%;
  }
}

.section-focus__header {
  margin-bottom: 30px;
  /*Tablet media */
}
@media (max-width: 1199px) {
  .section-focus__header {
    margin-bottom: 20px;
  }
}

.section-focus__title {
  margin-bottom: 30px;
  /*Tablet media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-focus__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-focus__title {
    margin-bottom: 10px;
  }
}

.section-focus__subtitle {
  margin-bottom: 30px;
}

.section-focus__text {
  width: 400px;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  color: #000;
  /*Tablet media */
  /*Mobile media */
}
.section-focus__text p {
  margin-bottom: 14px;
}
@media (max-width: 1199px) {
  .section-focus__text {
    width: unset;
    max-width: 420px;
  }
}
@media (max-width: 899px) {
  .section-focus__text {
    line-height: 1.7;
    margin: 0 auto;
  }
}

.section-price {
  position: relative;
  padding-top: 90px;
  padding-bottom: 100px;
  background-image: url("./../img/section-price/section-price-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-price {
    background-image: url("./../img/section-price/tablet-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .section-price {
    background-image: url("./../img/section-price/mobile-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 40px;
  }
}
@media (max-width: 599px) {
  .section-price {
    background-image: url("./../img/section-price/xs-mobile-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 40px;
  }
}

.section-price__contetnt {
  position: relative;
  z-index: 9;
  /*Tablet media */
  /*Mobile media */
}
@media (max-width: 1199px) {
  .section-price__contetnt {
    margin-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .section-price__contetnt {
    margin-bottom: 40px;
  }
}

.section-price__header {
  text-align: center;
  margin-bottom: 80px;
}

.section-price__title {
  margin-bottom: 40px;
  /*Tablet media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-price__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-price__title {
    margin-bottom: 10px;
  }
}

.section-price__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  /*Mobile media */
}
@media (max-width: 899px) {
  .section-price__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
  }
}

.section-price__row > * {
  width: 300px;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-price__row > * {
    width: 270px;
  }
}
@media (max-width: 899px) {
  .section-price__row > * {
    width: 300px;
  }
}
@media (max-width: 599px) {
  .section-price__row > * {
    width: 290px;
  }
}

.section-clients {
  padding-top: 80px;
  padding-bottom: 80px;
  /*Tablet media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-clients {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 599px) {
  .section-clients {
    padding-top: 40px;
  }
}

.section-clients__header {
  margin-bottom: 60px;
  text-align: center;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-clients__header {
    margin-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .section-clients__header {
    margin-bottom: 40px;
  }
}
@media (max-width: 599px) {
  .section-clients__header {
    margin-bottom: 30px;
  }
}

.section-clients__title {
  margin-bottom: 40px;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-clients__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 899px) {
  .section-clients__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-clients__title {
    margin-bottom: 10px;
  }
}

.section-clients__slider {
  margin-left: auto;
  margin-right: auto;
  width: 770px;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-clients__slider {
    width: 720px;
  }
}
@media (max-width: 899px) {
  .section-clients__slider {
    width: 370px;
  }
}
@media (max-width: 599px) {
  .section-clients__slider {
    width: 100%;
  }
}

.footer {
  padding-top: 70px;
  padding-bottom: 70px;
  background: #1A1A1A;
  color: #fff;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 899px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 599px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .footer__row {
    margin-bottom: 40px;
  }
}
@media (max-width: 899px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 599px) {
  .footer__row {
    margin-bottom: 40px;
    gap: 40px;
  }
}

.footer__nav {
  margin-right: 50px;
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 899px) {
  .footer__nav {
    margin-right: 0;
  }
}
@media (max-width: 599px) {
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__nav-item {
  margin-right: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  /*Mobile XS media */
}
.footer__nav-item:last-child {
  margin-right: 0;
}
.footer__nav-item:hover {
  color: #15D784;
}
@media (max-width: 599px) {
  .footer__nav-item {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .footer__nav-item:last-child {
    margin-bottom: 0;
  }
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  /*Mobile XS media */
}
@media (max-width: 599px) {
  .footer__socials {
    gap: 20px;
  }
}

.footer__socials-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(196, 196, 196, 0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__socials-item:hover {
  background: #15D784;
}

.footer__copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}
.footer__copyright span {
  font-weight: 700;
}

.footer__copyright p + p {
  margin-top: 15px;
}

.nav {
  margin-top: 40px;
  margin-left: 200px;
}

.nav__list {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 1.2;
  letter-spacing: 0.48px;
  color: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
.nav__list a {
  text-decoration: none;
  color: #141414;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
.nav__list a:hover {
  color: #db3138;
}

.title {
  font-family: "ReformaGroteskBoldC";
  font-style: normal;
  font-weight: 700;
  font-size: 150px;
  line-height: 1.25;
  color: #db3138;
  text-align: center;
}

.title--white {
  color: #fff;
}

.page-decoration {
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.button {
  padding: 20px 27px;
  background: #db3138;
  font-family: "ReformaGroteskDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  text-decoration: none;
  color: #141414;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.button:hover {
  background: #ff0008;
}

/* Tablet */
@media (max-width: 1199px) {
  .container {
    max-width: 900px;
  }
}
/* Mobile */
@media (max-width: 899px) {
  .container {
    max-width: 600px;
  }
}
/* Mobile XS */
@media (max-width: 599px) {
  .container {
    max-width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */