

@font-face {
  font-family: "ReformaGroteskMediumC";
  src: url("../fonts/ReformaGroteskMediumC.eot");
  src: url("../fonts/ReformaGroteskMediumC.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/ReformaGroteskMediumC.woff") format("woff"),
    url("../fonts/ReformaGroteskMediumC.woff2") format("woff2"),
    url("../fonts/ReformaGroteskMediumC (1).otf"),
    url("../fonts/ReformaGroteskMediumC.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "ReformaGroteskDemiC";
  src: url("../fonts/ReformaGroteskDemiC.eot");
  src: url("../fonts/ReformaGroteskDemiC.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/ReformaGroteskDemiC.woff") format("woff"),
    url("../fonts/ReformaGroteskDemiC.woff2") format("woff2"),
    url("../fonts/ReformaGroteskDemiC.otf (2)"),
    url("../fonts/ReformaGroteskDemiC.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "ReformaGroteskBoldC";
  src: url("../fonts/ReformaGroteskBoldC.eot");
  src: url("../fonts/ReformaGroteskBoldC.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/ReformaGroteskBoldC.woff") format("woff"),
    url("../fonts/ReformaGroteskBoldC.woff2") format("woff2"),
    url("../fonts/ReformaGroteskBoldC (1).otf"),
    url("../fonts/ReformaGroteskBoldC.ttf") format("truetype");
  font-weight: 700;
}
