.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 60px;
  background: #db3138;
  font-family: "ReformaGroteskDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  cursor: pointer;

  text-decoration: none;
  color: $textColor;
  transition: 0.2s;

  &:hover {
    background: #ff0008;
  }
}
