.form {
  margin: 0 auto;
  max-width: 800px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(211, 211, 211, 0.25);
  padding: 40px;

  @include mobile {
    padding: 30px;
  }
}


.form-group-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
}

.form__input {
  padding-left: 25px;
  padding-right: 25px;
  height: 50px;
  font-family: "ReformaGroteskDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: $textColor;
  background: #ffffff;
  border: 1px solid #898989;
  width: 100%;

  @include mobile {
    font-size: 14px;
    height: 40px;
  }

  @include mobile-400 {
    padding-left: 13px;
    padding-right: 13px;
    font-size: 12px;
    height: 40px
  }
}

.form__input:focus {
  outline: none;
  border: 1px solid #db3138;
}

.form__input::placeholder {
  color: #898989;
}

.error {
  margin-top: 10px;
  color: #db3138;
  font-size: 16px;
  font-family: sans-serif;

}

.form__textarea {
  padding: 15px 25px;
  width: 100%;
  height: 185px;
  font-family: "ReformaGroteskDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: $textColor;
  background: none;
  border: 1px solid #898989;
  resize: none;

  @include mobile {
    font-size: 14px;
    height: 141px;
  }

  @include mobile-400 {
    font-size: 12px;
    padding: 13px;
  }

}


.form__textarea::placeholder {
  color: #898989;
}

.form__textarea:focus {
  outline: none;
  border: 1px solid #db3138;
}

.form-group-row {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;


}

.form-group-row:nth-child(1) {
  @include tablet {
    flex-direction: column;
  }
}

.form-group-row:last-child {
  margin-bottom: 0;
}

.form-group-row__input {
  width: 100%;
}

.form__extrainfo {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: self-end;
  gap: 20px;

  @include mobile-400 {
    align-items: flex-start;
  }

}

.form__extrainfo,
.form__location {
  font-family: "ReformaGroteskDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.8px;
  text-transform: uppercase;

  @include tablet {
    font-size: 15px;
    gap: 10px;
  }


  @include mobile {
    font-size: 14px;
  }

  @include mobile-400 {
    font-size: 11px;
  }
}

.form__location::before {
  display: block;
  content: "";
  background-image: url(./../img/extrainfo/location.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 17px;
  height: 21px;

  @include mobile {
    width: 13px;
    height: 16px;
  }
}

.form__location {
  display: flex;
  align-items: center;
  gap: 8px;
}

.form__email {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: $textColor;
  transition: 0.2s;

}

.form__tel {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: $textColor;
  transition: 0.2s;
}

.form__email:hover,
.form__tel:hover {
  color: $accentText;
}

.form__email::before {
  display: block;
  content: "";
  background-image: url(./../img/extrainfo/email.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 21px;
  height: 17px;

  @include mobile {
    width: 13px;
    height: 10px;
  }
}

.form__tel::before {
  display: block;
  content: "";
  background-image: url(./../img/extrainfo/tel.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 21px;
  height: 21px;

  @include mobile {
    width: 13px;
    height: 13px;
  }

  @include mobile-400 {
    align-self: flex-start;
  }
}

.form__button {
  margin-top: 25px;

  @include mobile-400 {
    align-self: flex-start;
  }
}

.form__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.form__socials img {
  @include mobile {
    width: 37px;
    height: 25px;
  }
}

.form-group-row:nth-child(3) {

  @include mobile-400 {
    flex-direction: column-reverse;
  }

}