.title {
  font-family: "ReformaGroteskBoldC";
  font-style: normal;
  font-weight: 700;
  font-size: 150px;
  line-height: 1.25;
  color: $accentText;
  text-align: center;
  text-transform: uppercase;

  @include laptop {
    font-size: 100px;
  }

  @include tablet {
    font-size: 85px;
  }
}

.title--white {
  color: #fff;
}