.title-h4 {
  font-family: "ReformaGroteskDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;

  &_red {
    color: $accentText;
  }

  @include tablet-930 {
    font-size: 26px;
  }

  @include tablet {
    font-size: 25px;
  }

  @include mobile {
    font-size: 18px;
  }

  @include mobile-400 {
    font-size: 14px;
  }
}