.title-h3 {
  font-family: "ReformaGroteskDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.4;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: $accentText;

  @include tablet {
    font-size: 25px;
  }

  @include mobile {
    font-size: 20px;
  }

  @include mobile-400 {
    font-size: 14px;
  }
}