.about {
  padding-top: 40px;
  margin-top: 40px;

  @include tablet {
    padding-top: 20px;
    margin-top: 20px;
  }

}

.about__title {
  text-align: center;
}

.about__info {
  display: flex;
  gap: 60px;
  justify-content: center;

  @include laptop-1300 {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.about__item-header {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}

.about__item-text {
  font-family: "ReformaGroteskMediumC";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.48px;
  max-width: 700px;
  text-align: justify;

  @include tablet-930 {
    font-size: 28px;
  }

  @include tablet {
    font-size: 23px;
  }
}

.about__photo img {
  max-width: 500px;
}