.more {
  margin-top: 80px;
}

.more__title {
  margin-bottom: 35px;
}

.more__wrapper {
  padding: 60px 60px;
  border: 1px solid #898989;
  display: flex;
  //   gap: 50px;
  justify-content: space-between;
}
.more__img {
  width: 700px;
  height: 700px;
}
.more__description {
  flex-basis: 400px;
}

.more__list-item {
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: "ReformaGroteskMediumC";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.8px;
  margin-bottom: 20px;
}
.more__list-item:last-child {
  margin-bottom: 0;
}

.more__list-item:before {
  content: "";
  width: 15px;
  height: 15px;
  display: block;
  background-image: url(./../img/more/more-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.more__list {
  margin-bottom: 50px;
}
.more__button {
}
.button {
}
