.more {
  margin-top: 40px;
  padding-top: 40px;

  @include tablet {
    padding-top: 20px;
    margin-top: 20px;
  }


}

.more__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center
}

.more__link {
  text-decoration: none;
  color: $accentText;
  border: #141414;
  cursor: pointer;
  position: relative;
}

.more__link-text span {
  color: $whiteText;

}

.more__link:hover .more__link-image img {
  filter: blur(1px);
  opacity: 0.3;
  background-color: #141414;

}

.more__link-image {
  position: relative;
  width: 400px;
  background: #141414;

  @include tablet-930 {
    width: 300px;
  }

  @include tablet {
    width: 200px;
  }
}


.more__link-image img {
  transition: opacity 0.2s ease-in;
  border: #141414;
}


.more__link-text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}


.more__link:hover .more__button {
  opacity: 1;

}


.more__link-text {
  font-family: "ReformaGroteskDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: $accentText;

  @include tablet-930 {
    font-size: 30px;
  }

  @include tablet {
    font-size: 25px;
  }
}