.tabs__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 50px;
  row-gap: 20px;

  font-family: "ReformaGroteskBoldC";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.8px;

  margin-bottom: 70px;

  @include tablet-930 {
    font-size: 30px;
  }

  @include tablet {
    font-size: 25px;
  }

  @include mobile {
    font-size: 20px;
    gap: 25px;
    margin-bottom: 40px;
  }

  @include mobile-400 {
    font-size: 18px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

  }
}

.tabs__item {
  &_active {
    color: $accentText;
    transform: scale(1.1);
  }

  cursor: pointer;
  transition: 0.2s;
}

.tabs__item:hover {
  color: $accentText;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}