.video {
    margin-top: 40px;
    padding-top: 40px;

    @include tablet {
        padding-top: 20px;
    }
}

.video__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.video__content {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    background: grey url('./../img/video/youtube.jpg') no-repeat center;
    background-size: 100%;

}

.video__content:hover {
    cursor: pointer;

}

.video__content iframe {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}